/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #ded6d6;
    background-color: #201e1e;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header {
    background: #8B0000;
    padding: 1rem 0;
}

.logo {
    display: flex;          /* puts image and text in one row */
    align-items: center;    /* vertical alignment with text */
    gap: 8px;               /* space between logo and text */
    color: rgb(255, 247, 247);
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    border-bottom: 2px solid #FFD700;
}
/* HERO SECTION */
.hero {
    background: url('https://umindanao.edu.ph/images/slider-main/bg4.jpg') center/cover no-repeat;
    height: 90vh;
    position: relative;
}
.hero {
  display: flex;
  align-items: flex-end;      /* Moves content downward */
  justify-content: flex-start; /* Moves content to the left */
  padding: 0 0 80px 80px;     /* Bottom + left spacing */
  height: 100vh;
}

.hero-content {
  max-width: 600px;
  text-align: left;
}
.hero-content {
  position: absolute;
  top: 55%;      /* Pushes it slightly lower */
  left: 10%;      /* Moves it toward the left */
  transform: translateY(-70%);
  text-align: left;
}

.btn {
    display: inline-block;
    background: #D4AF37;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #b8942f;
}

/* FOOTER */
footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.9rem;
}
